<div class="row">     
  <% @five_most_recent.each do |photo| %>
    <div class="col-md-4">
      <%= link_to (image_tag photo.attached_photo.url(:medium) ), photo_path(photo) %>
    </div>
  <% end %>
</div>